go 1.25.0

use (
	./apps/lina-core
	./apps/lina-plugins
	./apps/lina-plugins/content-notice
	./apps/lina-plugins/monitor-loginlog
	./apps/lina-plugins/monitor-online
	./apps/lina-plugins/monitor-operlog
	./apps/lina-plugins/monitor-server
	./apps/lina-plugins/org-management
	./apps/lina-plugins/plugin-demo-source
	./apps/lina-plugins/plugin-demo-dynamic
	./hack/build-wasm
)
